################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SeaEngine/.vs/SeaEngine/v15
/SeaEngine/.vs/SeaEngine/v15
